@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/SourceCodePro.woff2') format('woff2');
}
@font-face {
	font-family: "Poiret One";
	font-weight: 400;
	src: url('/fonts/Poiret One.woff2') format('woff2');
}

#colorPickerViewer {
	position: fixed;
	padding:0px;
	z-index:2147483647;
    border: 0px solid gray;
    overflow: hidden;
}

#colorPickerViewer table{
	border-collapse:collapse;
	margin: 0px -2px -2px 0px;
	padding:0 !important;
	border-collapse: separate !important;
	border-spacing: 0px !important;
	box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	background-color: indigo;
}

#colorPickerViewer table td {
	padding:0px;
	width:7px;
	height:7px;
	border-radius: 1px;
	border-width: 0;
}

#colorPickerViewer img {
	margin:0;
}

#colorPickerToolbar {
    position: absolute;
    padding: 0px;
    background-color:white;
    border-style:inset;
    border-width: 2px;
    visibility:visible;
    cursor: default;
	font: 100%/1.0 sans-serif;
	font-size: 14px;
}

#colorPickerToolbar table {
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    margin:0;
    background-color: white;
    display: block;
}

#colorDiv {
	width: 22pt;
}

#colorTxt {
	padding-left: 4px;
	padding-right: 4px;
	font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 16pt;
}

.marker{
	position: absolute !important;
	/*margin-bottom:-2px;
	margin-right:-2px; */
	margin-left: -1px;
	margin-top: -4px;
	width:7px;
	height:7px;
	border:1px solid red;
	background-color:transparent;
}

#ColorPickerOvr, #ColorPickerLdr {
	opacity: 1;
	background: transparent;
	border: 0 none transparent;
	margin:0; padding:0;
	top:0; left:0;
	height:100%; width:100%;
	position: fixed;
}
#ColorPickerOvr{
	position:relative;
	height: 100%;
	width: 100%;
	cursor:crosshair;
}
#ColorPickerLdr {
	position: absolute;
	cursor:wait;
	z-index: 2147483647;
}

.Sample {
	padding-left: 8px;
	padding-right: 40px;
	white-space: nowrap;
	font-family: sans-serif;
	vertical-align: baseline;
	line-height: 24px;
}
.small, .large {
	padding-top: 2px;
}
.smallSample {
  	font-size: 12pt;
}
.largeSample {
  	font-size: 14pt;
  	font-weight: bold;
}

.checkmark {
	width:20px; height:20px;
	display: inline-block;
	margin-left: -30px;
  	margin-right: 12px;
  	margin-top: 0;
    margin-bottom: 0;
	vertical-align: top;
}

.Contrast {
  	padding-left: 8px;
  	padding-right: 8px;
  	font-family: 'Poiret One';
  	font-size: 18pt;
  	font-weight: bold;
  	padding-bottom: 0px;
  	padding-top: 0px;
}

.hide {
	  display: none !important;
}

.show {
	  display: inline-block !important;
}

.up { top:10px; }
.down { bottom:10px; }
.left { left:10px; }
.right { right:10px; }

#colorPickerSample {
	position: absolute;
	bottom:10px;
	cursor:help;
    border-style:outset;
    border-width: 2px;
    font-size: 12px;
}

#colorPickerSample h1, #colorPickerSample p {
	margin: 20px;
	font-family: sans-serif;
	color: inherit;
	background-color: inherit;
	font-size: 12pt;
}

#colorPickerSample h1 {
	font-size: 18pt;
	font-weight: normal;
	margin-top: 40px;
}

#colorPickerSample strong {
	font-size: 14pt;
	font-weight: bold;
}

#colorPickerSample li {
	list-style-type: disc;
	background: transparent none;
}

.PickerSampleBtn {
	position:absolute;
	top:4px;
	cursor:pointer;
}

.PickerSampleHover {
	opacity:0.25;
}

.PickerSampleHover:hover {
	opacity:1;
}

#PickerSampleclose {
	right:4px;
}

#PickerSampleToggle {
	left:4px;
}

#PickerSampleFix {
	left: 76px;
	--visibility: collapse;
}

#PickerSampleEye {
	left:28px;
	position: absolute;
}
#PickerSampleEffects {
	left:52px;
	position: absolute;
}
#PickerSampleEye li, #PickerSampleEffects li {
	list-style-type: none;
}
#PickerSampleEye a, #PickerSampleEffects a {
	margin:0;
}
#eye-submenu, #effects-submenu {
	left:0;
}

img.toLeft {
	width: 12pt !important;
    height: 12pt !important;
    padding-top: 0pt !important;
}

#menu1 img, #colorPickerSample img {
	width: 18pt;
    height: 18pt;
    padding-top: 2pt;
}

#menu1-trigger .btn img {
	width:11px; height:11px;
	opacity: 0.75;
}

#menu1-trigger .btn img:hover {
	opacity: 1;
}

.shadowed {
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(2px 2px 4px white)
}

.shadowedBlack {
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
	filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
}

#eye-menu li ul li a img, #effects-menu li ul li a img, #mNormalVision img {
	position: absolute;
    margin-left: -15px;
    width: 17px;
    height: 17px;
    margin-top: 3px;
}

.BlackAndWhite{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.InvertVision, .InvertVision img, .InvertVision video,
.InvertVision .dropit-open,
.InvertVision #colorPickerViewer table
{
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
	filter: invert(100%);
}

.RotateColorsEffect {
   -webkit-animation: adjustHue 2s infinite;
}

@-webkit-keyframes adjustHue {
   0% { -webkit-filter: hue-rotate(0deg); }

   5% { -webkit-filter: hue-rotate(18deg); }
   10% { -webkit-filter: hue-rotate(36deg); }
   15% { -webkit-filter: hue-rotate(54deg); }
   20% { -webkit-filter: hue-rotate(72deg); }
   25% { -webkit-filter: hue-rotate(90deg); }

   30% { -webkit-filter: hue-rotate(108deg); }
   35% { -webkit-filter: hue-rotate(126deg); }
   40% { -webkit-filter: hue-rotate(144deg); }
   45% { -webkit-filter: hue-rotate(162deg); }
   50% { -webkit-filter: hue-rotate(180deg); }

   55% { -webkit-filter: hue-rotate(198deg); }
   60% { -webkit-filter: hue-rotate(216deg); }
   65% { -webkit-filter: hue-rotate(234deg); }
   70% { -webkit-filter: hue-rotate(252deg); }
   75% { -webkit-filter: hue-rotate(270deg); }

   80% { -webkit-filter: hue-rotate(288deg); }
   85% { -webkit-filter: hue-rotate(306deg); }
   90% { -webkit-filter: hue-rotate(324deg); }
   95% { -webkit-filter: hue-rotate(342deg); }
   100% { -webkit-filter: hue-rotate(360deg); }
}

.Protanopia {
	-webkit-filter: url(#protanopia);
	   -moz-filter: url(#protanopia);
	    -ms-filter: url(#protanopia);
	     -o-filter: url(#protanopia);
	        filter: url(#protanopia); /* Firefox 3.5+ */
}

.Protanomaly {
	-webkit-filter: url(#protanomaly);
	   -moz-filter: url(#protanomaly);
	    -ms-filter: url(#protanomaly);
	     -o-filter: url(#protanomaly);
	        filter: url(#protanomaly); /* Firefox 3.5+ */
}

.Deuteranopia {
	-webkit-filter: url(#deuteranopia);
	   -moz-filter: url(#deuteranopia);
	    -ms-filter: url(#deuteranopia);
	     -o-filter: url(#deuteranopia);
	        filter: url(#deuteranopia); /* Firefox 3.5+ */
}

.Deuteranomaly {
	-webkit-filter: url(#deuteranomaly);
	   -moz-filter: url(#deuteranomaly);
	    -ms-filter: url(#deuteranomaly);
	     -o-filter: url(#deuteranomaly);
	        filter: url(#deuteranomaly); /* Firefox 3.5+ */
}

.Tritanopia {
	-webkit-filter: url(#tritanopia);
	   -moz-filter: url(#tritanopia);
	    -ms-filter: url(#tritanopia);
	     -o-filter: url(#tritanopia);
	        filter: url(#tritanopia); /* Firefox 3.5+ */
}

.Tritanomaly {
	-webkit-filter: url(#tritanomaly);
	   -moz-filter: url(#tritanomaly);
	    -ms-filter: url(#tritanomaly);
	     -o-filter: url(#tritanomaly);
	        filter: url(#tritanomaly); /* Firefox 3.5+ */
}

.Achromatopsia {
	-webkit-filter: url(#achromatopsia);
	   -moz-filter: url(#achromatopsia);
	    -ms-filter: url(#achromatopsia);
	     -o-filter: url(#achromatopsia);
	        filter: url(#achromatopsia); /* Firefox 3.5+ */
}

.Achromatomaly {
	-webkit-filter: url(#achromatomaly);
	   -moz-filter: url(#achromatomaly);
	    -ms-filter: url(#achromatomaly);
	     -o-filter: url(#achromatomaly);
	        filter: url(#achromatomaly); /* Firefox 3.5+ */
}

.NormalFilter {
	-webkit-filter: url(#normalFilter);
	   -moz-filter: url(#normalFilter);
	    -ms-filter: url(#normalFilter);
	     -o-filter: url(#normalFilter);
	        filter: url(#normalFilter); /* Firefox 3.5+ */
}
.SampleContent {
	display: inline-block;
	min-height: 255px;
}

.menuPercent {
    margin-left: 4px;
    background-color: transparent;
    color: orangered;
    text-shadow: 2px 2px 1px black;
}

#ColorToolbar td {
    padding: 0;
    vertical-align: middle;
    border-width: 0;
}
