/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	  padding: 0;
	  margin: 0;
    position:relative;
    width:inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

.dropit .dropit-trigger { 
    position: relative; 
    opacity: 0.25;
}

.dropit .dropit-trigger:hover { 
    opacity: 1;
}

.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 2147483640;
    display: none;
    min-width: 150px;
    list-style: none;
	  padding: 0;
	  margin: 0;
}

.dropit, .dropit-trigger, .dropit-trigger ul li, .dropit-trigger ol ul li {
    background: transparent;
    margin: 0;
    padding:0;
}

.dropit .dropit-open .dropit-submenu { 
    display: block; 
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;

    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.9));
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.9));
}

.Menu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #3F4448;
    padding: 0 18px;
    text-decoration: none;
}

.Menu ul.dropit-submenu a input {
    margin-left: -10px;
}

.Menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}

.dropit .btn {
    display: inline-block;
    padding: 1px 3px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    line-height: 22px;
    width:auto;
    height:auto;
}

.dropit li {
    list-style-image: none;
    line-height: inherit;
}

.dropit li hr {
    margin: 2px;
    display: block;
    border: 1px inset;
}

.dropit .dropit-open {
    opacity:1;
}

.dropit .shortcut {
    position: absolute;
    right: 4px;
    background-color: transparent;
    color: #248fc1;
    text-shadow: 0px 0px 2px aliceblue;
}

.dropit .shortcuteffect {
    position: absolute;
    right: 4px;
    background-color: transparent;
    color: white;
}

.Menu ul.dropit-submenu a {
    padding-right: 20px;
}

.dropit .toLeft {
    position: absolute;
    right: 3px; top:4px;
}

.Menu ul.dropit-submenu li {
    list-style-image: none;
}

